extends layout

block navmenu
  ul.navbar-nav.ml-auto
    li#menuP.nav-item
      a#menu.nav-link(href="/") Home 
    li.nav-item
      a.nav-link(href="/about") About
    li#dashboardP.nav-item.active
      a#dashboard.nav-link(href="/dashboard") 
        |Dashboard
        span.sr-only (current)
    li.nav-item
      a.nav-link    
    li.nav-item.dropdown
      a#userDropdown.dropdown-toggle(data-toggle="dropdown" aria-haspopup="true" aria-expanded="false") 
        img#userProfileCircle(src=user.profileimgsrc alt="user profile image" width=35 height=35)
      .dropdown-menu(aria-labelledby="userDropdown")
        h6.dropdown-header #{user.email}
        h6.dropdown-header @#{user.nick}
        .dropdown-divider
        a.dropdown-item hello
        a.dropdown-item nice
        a.dropdown-item(href="/auth/logout") logout

block content
  .jumbotron
    label(for="machineType") machinetype
      select.form-control#machineType(onchange="selectCheckMachineType(this)")
        option(selected value="allmachine") Chosse
        option(value="arduino") arduino
        option(value="raspberry") raspberry
    label(for="machineNum") machinenum
      select.form-control#machineNum
    button.btn.btn-primary(type="submit" onclick="onClickChangeGraph(document.getElementById(\"machineType\").value,document.getElementById(\"machineNum\").value)") Change
  .container-fluid#chartPage
   .row.justify-content-center
     .col-2.border.bg-light ARDUINO ONE
       #arduinoNumONE_tem
       #arduinoNumONE_hum
       #arduinoNumONE_fine
       #arduinoNumONE_gas 가스상태 : 정상
       #arduinoNumONE_recordDate
     .col-2.border.bg-light ARDUINO TWO
       #arduinoNumTWO_tem
       #arduinoNumTWO_hum
       #arduinoNumTWO_fine
       #arduinoNumTWO_gas 가스상태 : 정상
       #arduinoNumTWO_recordDate
     .col-2.border.bg-light ARDUINO THREE
       #arduinoNumTHREE_tem
       #arduinoNumTHREE_hum
       #arduinoNumTHREE_fine 
       #arduinoNumTHREE_gas 가스상태 : 정상
       #arduinoNumTHREE_recordDate
     .col-2.border.bg-light ARDUINO FOUR
       #arduinoNumFOUR_tem
       #arduinoNumFOUR_hum
       #arduinoNumFOUR_fine
       #arduinoNumFOUR_gas 가스상태 : 정상
       #arduinoNumFOUR_recordDate
     .col-2.border.bg-light ARDUINO FIVE
       #arduinoNumFIVE_tem 
       #arduinoNumFIVE_hum
       #arduinoNumFIVE_fine
       #arduinoNumFIVE_gas 가스상태 : 정상
       #arduinoNumFIVE_recordDate         
   .row.justify-content-center
     .col-3.border.bg-light RASPBERRYPI ONE
       #raspberryPiNumONE_tem
       #raspberryPiNumONE_hum
       #raspberryPiNumONE_fine
       #raspberryPiNumONE_gas 가스상태 : 정상
       #raspberryPiNumONE_recordDate
     .col-3.border.bg-light RASPBERRYPI TWO
       #raspberryPiNumTWO_tem
       #raspberryPiNumTWO_hum
       #raspberryPiNumTWO_fine
       #raspberryPiNumTWO_gas 가스상태 : 정상
       #raspberryPiNumTWO_recordDate
     .col-3.border.bg-light RASPBERRYPI THREE
       #raspberryPiNumTHREE_tem
       #raspberryPiNumTHREE_hum
       #raspberryPiNumTHREE_fine
       #raspberryPiNumTHREE_gas 가스상태 : 정상
       #raspberryPiNumTHREE_recordDate
    
block dashboardScript 
  script.
        var socket = io.connect('https://toojs.asuscomm.com/dbUpdate?user='+'!{user.id}', {
              path: '/socket.io',secure: true,
            });
            socket.on('news',function (data){
              updateGraph('!{user.email}',data.machine_type,data.machine_num);
              socket.emit('reply','check ok');
            });
            
        var socket4Html = io.connect('https://toojs.asuscomm.com/resHtml',{
            path: '/socket.io',secure: true,
        });
        socket4Html.on('htmlDataRes',function(data){
          $('#chartPage').html(data);
          
          socket4Html.emit('reply','update success');
        });
        socket4Html.on('vmapKey',function(data){
          prepareChart(data.key,data.machine_num);
          socket4Html.emit('reply','key receive success');
        });
